{% extends "base.html.twig" %}

{% set Admin = Auth %}
{{parent()}}
{% block title %}

  Mission n° {{ mission.id }}

{% endblock %}

{% block body %}

  <h1>Mission n° {{ mission.id }}</h1>

  <h2 class='d-flex'> {{ mission.title }}</h2>
  <p>Description: {{mission.description}}</p>
  <p>Nom de code: {{mission.codeName}}</p>
  <p>Pays: {{mission.country}}</p>
  <p>Type: {{mission.type}}</p>
  <p>Status: {{mission.status}}</p>
  <p>Début de la mission: {{mission.startDate|date("d/m/Y")}}</p>
  <p>Fin de la mission: {{mission.endDate|date("d/m/Y")}}</p>
  <p>Spécialité requise: {{mission.requiredSpecialty}}</p>
  <p>Agent sur la mission: {{mission.agentId}}</p>
  {% if mission.hideoutId != null %}
    <p>Planque: {{mission.hideoutCode}}</p>
  {% endif %}
  <p>Contact: {{mission.contactId}}</p>
  <p>Cible: {{mission.targetId}}</p>

{% endblock %}